<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zbglxt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.java1234.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gradeListServlet</servlet-name>
    <servlet-class>com.java1234.web.GradeListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gradeComboListServlet</servlet-name>
    <servlet-class>com.java1234.web.GradeComboListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentListServlet</servlet-name>
    <servlet-class>com.java1234.web.StudentListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gradeSaveServlet</servlet-name>
    <servlet-class>com.java1234.web.GradeSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentSaveServlet</servlet-name>
    <servlet-class>com.java1234.web.StudentSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gradeDeleteServlet</servlet-name>
    <servlet-class>com.java1234.web.GradeDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentDeleteServlet</servlet-name>
    <servlet-class>com.java1234.web.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>equipmetListServlet</servlet-name>
    <servlet-class>com.java1234.web.EquipmetListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>equipmentSaveServlet</servlet-name>
    <servlet-class>com.java1234.web.EquipmentSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>equipmentDeleteServlet</servlet-name>
    <servlet-class>com.java1234.web.EquipmentDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>equipmentreturnServlet</servlet-name>
    <servlet-class>com.java1234.web.EquipmentreturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addressServlet</servlet-name>
    <servlet-class>com.java1234.web.AddressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuditServler</servlet-name>
    <servlet-class>com.java1234.web.AuditServler</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>auditDeleteServler</servlet-name>
    <servlet-class>com.java1234.web.AuditDeleteServler</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>auditSaveServler</servlet-name>
    <servlet-class>com.java1234.web.AuditSaveServler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>passwordAlterServler</servlet-name>
    <servlet-class>com.java1234.web.passwordAlterServler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gradeListServlet</servlet-name>
    <url-pattern>/gradeList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gradeComboListServlet</servlet-name>
    <url-pattern>/gradeComboList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentListServlet</servlet-name>
    <url-pattern>/studentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gradeDeleteServlet</servlet-name>
    <url-pattern>/gradeDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentDeleteServlet</servlet-name>
    <url-pattern>/studentDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gradeSaveServlet</servlet-name>
    <url-pattern>/gradeSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentSaveServlet</servlet-name>
    <url-pattern>/studentSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>equipmetListServlet</servlet-name>
    <url-pattern>/equipmetList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>equipmentSaveServlet</servlet-name>
    <url-pattern>/equipmetSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>equipmentDeleteServlet</servlet-name>
    <url-pattern>/equipmetDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>equipmentreturnServlet</servlet-name>
    <url-pattern>/equipmentreturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EqupemtExcelSevlet</display-name>
    <servlet-name>EqupemtExcelSevlet</servlet-name>
    <servlet-class>com.java1234.web.EqupemtExcelSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EqupemtExcelSevlet</servlet-name>
    <url-pattern>/EqupemtExcelSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeExcelSevlet</display-name>
    <servlet-name>GradeExcelSevlet</servlet-name>
    <servlet-class>com.java1234.web.GradeExcelSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeExcelSevlet</servlet-name>
    <url-pattern>/GradeExcelSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentExcelSevlet</display-name>
    <servlet-name>StudentExcelSevlet</servlet-name>
    <servlet-class>com.java1234.web.StudentExcelSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addressServlet</servlet-name>
    <url-pattern>/addressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlert</display-name>
    <servlet-name>RegisterServlert</servlet-name>
    <servlet-class>com.java1234.web.RegisterServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlert</servlet-name>
    <url-pattern>/RegisterServlert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuditServler</servlet-name>
    <url-pattern>/AuditServler</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>auditDeleteServler</servlet-name>
    <url-pattern>/auditDeleteServler</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>auditSaveServler</servlet-name>
    <url-pattern>/auditSaveServler</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>passwordAlterServler</servlet-name>
    <url-pattern>/passwordAlterServler</url-pattern>
  </servlet-mapping>
</web-app>